/.vs
/packages
/src/UI/Commons/dl-wm.models/obj
/src/UI/Commons/dl-wm.models/bin
/src/UI/Commons/dl-wm.presenter/obj
/src/UI/Commons/dl-wm.presenter/bin
/src/UI/Commons/dl-wm.view/obj
/src/UI/Commons/dl-wm.view/bin
/src/UI/Desktops/aegis-wm-suite/dl-wm-suite.ui/obj
/src/UI/Desktops/aegis-wm-suite/dl-wm-suite.ui/.vs
/src/UI/Desktops/aegis-wm-suite/dl-wm-suite.ui/bin
/src/telemetry/dl-wm-suite-telemetry.api/obj
/src/telemetry/dl-wm-suite-telemetry.api/bin
/src/telemetry/dl-wm-suite-telemetry.api/log-20200130.txt
/src/telemetry/dl-wm-suite-telemetry.api/log-20200129.txt
/src/interprocess/dl-wm-suite-interprocess.api/obj
/src/interprocess/dl-wm-suite-interprocess.api/bin
/src/interprocess/dl-wm-suite-interprocess.api/log-20200129.txt
/src/interprocess/dl-wm-suite-interprocess.api/log-20200130.txt
/src/interprocess/dl-wm-suite-interprocess.api/dotnet
/src/fleet/dl-wm-suite-fleet.api/obj
/src/fleet/dl-wm-suite-fleet.api/bin
/src/fleet/dl-wm-suite-fleet.api/log-20200130.txt
/src/fleet/dl-wm-suite-fleet.contracts/obj
/src/fleet/dl-wm-suite-fleet.contracts/bin
/src/fleet/dl-wm-suite-fleet.model/obj
/src/fleet/dl-wm-suite-fleet.model/bin
/src/fleet/dl-wm-suite-fleet.repository/obj
/src/fleet/dl-wm-suite-fleet.repository/bin
/src/fleet/dl-wm-suite-fleet.services/obj
/src/fleet/dl-wm-suite-fleet.services/bin
/src/dms/dl-wm-suite-dms.services/obj
/src/dms/dl-wm-suite-dms.services/bin
/src/dms/dl-wm-suite-dms.repository/obj
/src/dms/dl-wm-suite-dms.repository/bin
/src/common/dl-wm-suite-common.dtos/bin
/src/common/dl-wm-suite-common.dtos/obj
/src/common/dl-wm-suite-common.infrastructure/obj
/src/common/dl-wm-suite-common.infrastructure/bin
/src/common/dl-wm-suite-common.messaging/*
/src/cms/dl-wm-suite-cms.api/*
/src/cms/dl-wm-suite-cms.api/healthchecksdb
/src/auth/dl-wm-suite-auth.api/Logs
/src/auth/dl-wm-suite-auth.api/healthchecksdb
/src/auth/dl-wm-suite-auth.api/*
/src/cms/dl-wm-suite-cms.contracts/bin/Debug/netcoreapp2.2/*.json
/src/cms/dl-wm-suite-cms.contracts/bin/Debug/netcoreapp2.2/*.dll
/src/cms/dl-wm-suite-cms.contracts/bin/Debug/netcoreapp2.2/*.pdb
/src/cms/dl-wm-suite-cms.contracts/obj/Debug/netcoreapp2.2/*.cs
/src/cms/dl-wm-suite-cms.contracts/obj/Debug/netcoreapp2.2/*.cache
/src/cms/dl-wm-suite-cms.contracts/obj/Debug/netcoreapp2.2/*.CopyComplete
/src/cms/dl-wm-suite-cms.contracts/obj/Debug/netcoreapp2.2/*.txt
/src/cms/dl-wm-suite-cms.contracts/obj/Debug/netcoreapp2.2/*.dll
/src/cms/dl-wm-suite-cms.contracts/obj/Debug/netcoreapp2.2/*.pdb
/src/cms/dl-wm-suite-cms.contracts/obj/*.cache
/src/cms/dl-wm-suite-cms.contracts/obj/*.json
/src/cms/dl-wm-suite-cms.contracts/obj/*.props
/src/cms/dl-wm-suite-cms.contracts/obj/*.targets
/src/cms/dl-wm-suite-cms.model/bin/Debug/netcoreapp2.2/*.json
/src/cms/dl-wm-suite-cms.model/bin/Debug/netcoreapp2.2/*.dll
/src/cms/dl-wm-suite-cms.model/bin/Debug/netcoreapp2.2/*.pdb
/src/cms/dl-wm-suite-cms.model/obj/Debug/netcoreapp2.2/*.cs
/src/cms/dl-wm-suite-cms.model/obj/Debug/netcoreapp2.2/*.cache
/src/cms/dl-wm-suite-cms.model/obj/Debug/netcoreapp2.2/*.CopyComplete
/src/cms/dl-wm-suite-cms.model/obj/Debug/netcoreapp2.2/*.txt
/src/cms/dl-wm-suite-cms.model/obj/Debug/netcoreapp2.2/*.dll
/src/cms/dl-wm-suite-cms.model/obj/Debug/netcoreapp2.2/*.pdb
/src/cms/dl-wm-suite-cms.model/obj/*.cache
/src/cms/dl-wm-suite-cms.model/obj/*.json
/src/cms/dl-wm-suite-cms.model/obj/*.props
/src/cms/dl-wm-suite-cms.model/obj/*.targets
/src/cms/dl-wm-suite-cms.repository/bin/Debug/netcoreapp2.2/*.dll
/src/cms/dl-wm-suite-cms.repository/bin/Debug/netcoreapp2.2/*.pdb
/src/cms/dl-wm-suite-cms.repository/bin/Debug/netcoreapp2.2/*.json
/src/cms/dl-wm-suite-cms.repository/obj/Debug/netcoreapp2.2/*.cs
/src/cms/dl-wm-suite-cms.repository/obj/Debug/netcoreapp2.2/*.cache
/src/cms/dl-wm-suite-cms.repository/obj/Debug/netcoreapp2.2/*.CopyComplete
/src/cms/dl-wm-suite-cms.repository/obj/Debug/netcoreapp2.2/*.txt
/src/cms/dl-wm-suite-cms.repository/obj/Debug/netcoreapp2.2/*.dll
/src/cms/dl-wm-suite-cms.repository/obj/Debug/netcoreapp2.2/*.pdb
/src/cms/dl-wm-suite-cms.repository/obj/*.cache
/src/cms/dl-wm-suite-cms.repository/obj/*.json
/src/cms/dl-wm-suite-cms.repository/obj/*.props
/src/cms/dl-wm-suite-cms.repository/obj/*.targets
/src/cms/dl-wm-suite-cms.services/bin/Debug/netcoreapp2.2/*.dll
/src/cms/dl-wm-suite-cms.services/bin/Debug/netcoreapp2.2/*.pdb
/src/cms/dl-wm-suite-cms.services/bin/Debug/netcoreapp2.2/*.json
/src/cms/dl-wm-suite-cms.services/obj/Debug/netcoreapp2.2/*.cs
/src/cms/dl-wm-suite-cms.services/obj/Debug/netcoreapp2.2/*.cache
/src/cms/dl-wm-suite-cms.services/obj/Debug/netcoreapp2.2/*.CopyComplete
/src/cms/dl-wm-suite-cms.services/obj/Debug/netcoreapp2.2/*.txt
/src/cms/dl-wm-suite-cms.services/obj/Debug/netcoreapp2.2/*.dll
/src/cms/dl-wm-suite-cms.services/obj/Debug/netcoreapp2.2/*.pdb
/src/cms/dl-wm-suite-cms.services/obj/*.cache
/src/cms/dl-wm-suite-cms.services/obj/*.json
/src/cms/dl-wm-suite-cms.services/obj/*.props
/src/cms/dl-wm-suite-cms.services/obj/*.targets
/src/dms/dl-wm-suite-dms.contracts/obj/Debug/netcoreapp2.2/*.cs
/src/dms/dl-wm-suite-dms.contracts/obj/Debug/netcoreapp2.2/*.cache
/src/dms/dl-wm-suite-dms.contracts/obj/*.cache
/src/dms/dl-wm-suite-dms.contracts/obj/*.json
/src/dms/dl-wm-suite-dms.contracts/obj/*.props
/src/dms/dl-wm-suite-dms.contracts/obj/*.targets
/src/dms/dl-wm-suite-dms.model/obj/Debug/netcoreapp2.2/*.cs
/src/dms/dl-wm-suite-dms.model/obj/Debug/netcoreapp2.2/*.cache
/src/dms/dl-wm-suite-dms.model/obj/*.cache
/src/dms/dl-wm-suite-dms.model/obj/*.json
/src/dms/dl-wm-suite-dms.model/obj/*.props
/src/dms/dl-wm-suite-dms.model/obj/*.targets
/src/dms/dl-wm-suite-dms.contracts
/src/dms/dl-wm-suite-dms.model
/src/UI/Desktops/ws-simulator/bin/Debug/*.xml
/src/UI/Desktops/ws-simulator/bin/Debug/*.config
/src/UI/Desktops/ws-simulator/obj/Debug/*.cs
/src/UI/Desktops/ws-simulator/obj/Debug/*.CopyComplete
/src/UI/Desktops/ws-simulator/obj/Debug/*.txt
/src/UI/Desktops/ws-simulator/obj/Debug/*.licenses
/src/UI/Desktops/ws-simulator/obj/Debug/*.resources
/src/UI/Desktops/ws-simulator/bin/Debug/*.dll
/src/UI/Desktops/ws-simulator/bin/Debug/de/*.dll
/src/UI/Desktops/ws-simulator/bin/Debug/es/*.dll
/src/UI/Desktops/ws-simulator/bin/Debug/ja/*.dll
/src/UI/Desktops/ws-simulator/bin/Debug/ru/*.dll
/src/UI/Desktops/ws-simulator/bin/Debug/*.exe
/src/UI/Desktops/ws-simulator/bin/Debug/*.pdb
/src/UI/Desktops/ws-simulator/obj/Debug/*.cache
/src/UI/Desktops/ws-simulator/obj/Debug/*.exe
/src/UI/Desktops/ws-simulator/obj/Debug/*.pdb
/src/interprocess/dl-wm-suite-interprocess.api/*.txt
