/.vs/aegis-wm-suite/DesignTimeBuild/.dtbcache
/.vs/aegis-wm-suite/v15/Server/sqlite3/db.lock
/.vs/aegis-wm-suite/v15/Server/sqlite3/storage.ide
/.vs/aegis-wm-suite/v15/Server/sqlite3/storage.ide-shm
/.vs/aegis-wm-suite/v15/Server/sqlite3/storage.ide-wal
/.vs/aegis-wm-suite/v16/Server/sqlite3/db.lock
/.vs/aegis-wm-suite/v16/Server/sqlite3/storage.ide
/packages
/src/aegis-wm-suite-cms.api/bin/Debug/netcoreapp2.2
/src/aegis-wm-suite-cms.api/obj/Debug/netcoreapp2.2
/src/aegis-wm-suite-cms.api/obj
/src/aegis-wm-suite-cms.contracts/bin/Debug/netcoreapp2.2
/src/aegis-wm-suite-cms.contracts/obj/Debug/netcoreapp2.2
/src/aegis-wm-suite-cms.contracts/obj
/src/aegis-wm-suite-cms.model/obj/Debug/netcoreapp2.2
/src/aegis-wm-suite-cms.model/bin/Debug/netcoreapp2.2
/src/aegis-wm-suite-cms.model/obj
/src/aegis-wm-suite-cms.repository/bin/Debug/netcoreapp2.2
/src/aegis-wm-suite-cms.repository/obj/Debug/netcoreapp2.2
/src/aegis-wm-suite-cms.repository/obj
/src/aegis-wm-suite-cms.services/obj/Debug/netcoreapp2.2
/src/aegis-wm-suite-cms.services/bin/Debug/netcoreapp2.2
/src/aegis-wm-suite-cms.services/obj
/src/aegis-wm-suite-common.dtos/obj/Debug/netcoreapp2.2
/src/aegis-wm-suite-common.dtos/bin/Debug/netcoreapp2.2
/src/aegis-wm-suite-common.infrastructure/bin/Debug/netcoreapp2.2
/src/aegis-wm-suite-common.dtos/obj
/src/aegis-wm-suite-common.infrastructure/obj/Debug/netcoreapp2.2
/src/aegis-wm-suite-common.messaging/obj/Debug/netcoreapp2.2
/src/aegis-wm-suite-common.messaging/bin/Debug/netcoreapp2.2
/src/aegis-wm-suite-common.messaging/obj
/src/aegis-wm-suite-interprocess.api/bin/Debug/netcoreapp2.2
/src/aegis-wm-suite-common.infrastructure/obj
/src/aegis-wm-suite-interprocess.api/obj/Debug/netcoreapp2.2
/src/aegis-wm-suite-interprocess.api/obj
/src/aegis-wm-suite-token.api/bin/Debug/netcoreapp2.2
/src/aegis-wm-suite-token.api/obj/Debug/netcoreapp2.2
/src/aegis-wm-suite-token.api/obj
/src/UI/Commons/aegis-wm.presenter/obj/Debug
/src/UI/Commons/aegis-wm.view/obj/Debug
/src/UI/Desktops/aegis-wm-suite/aegis-wm-suite.ui/bin/Debug
/src/UI/Desktops/aegis-wm-suite/aegis-wm-suite.ui/obj/Debug
/src/UI/Desktops/ws-simulator/obj/Debug
/src/UI/Desktops/ws-simulator/bin/Debug
/src/aegis-wm-suite-token.api/Properties/launchSettings.json
/src/UI/Commons/aegis-wm.presenter/bin/Debug/aegis-wm.view.dll.config
/src/UI/Commons/aegis-wm.view/bin/Debug
/.vs/aegis-wm-suite/v15/.suo
/src/UI/Commons/aegis-wm.presenter/bin/Debug
/src/UI/Commons/aegis-wm.models/obj/Debug
/.vs
/src/UI/Commons/aegis-wm.models/bin/Debug
/src/aegis-wm-suite-auth.api/bin/Debug/netcoreapp2.2
/src/aegis-wm-suite-auth.api/obj/Debug/netcoreapp2.2
/src/aegis-wm-suite-auth.api/obj
/src/aegis-wm-suite-dms.api/bin/Debug/netcoreapp2.2
/src/aegis-wm-suite-dms.api/obj/Debug/netcoreapp2.2
/src/aegis-wm-suite-dms.api/obj
/src/aegis-wm-suite-telemetry.api/bin/Debug/netcoreapp2.2
/src/aegis-wm-suite-telemetry.api/obj/Debug/netcoreapp2.2
/src/aegis-wm-suite-telemetry.api/obj
/src/aegis-wm-suite-dms.contracts/bin/Debug/netcoreapp2.2
/src/aegis-wm-suite-dms.contracts/obj/Debug/netcoreapp2.2
/src/aegis-wm-suite-dms.contracts/obj
/src/aegis-wm-suite-dms.model/bin/Debug/netcoreapp2.2
/src/aegis-wm-suite-dms.model/obj/Debug/netcoreapp2.2
/src/aegis-wm-suite-dms.model/obj
/src/aegis-wm-suite-dms.repository/bin/Debug/netcoreapp2.2
/src/aegis-wm-suite-dms.repository/obj/Debug/netcoreapp2.2
/src/aegis-wm-suite-dms.repository/obj
/src/aegis-wm-suite-dms.services/bin/Debug/netcoreapp2.2
/src/aegis-wm-suite-dms.services/obj/Debug/netcoreapp2.2
/src/aegis-wm-suite-dms.services/obj
/src/tests/ConsoleAegisTest/bin/Debug/netcoreapp2.2
/src/tests/ConsoleAegisTest/obj/Debug/netcoreapp2.2
/src/tests/ConsoleAegisTest/obj
/src/aegis-wm-suite-fleet.api/bin/Debug/netcoreapp2.2
/src/aegis-wm-suite-fleet.api/obj/Debug/netcoreapp2.2
/src/aegis-wm-suite-fleet.api/obj
/src/aegis-wm-suite-fleet.contracts/bin/Debug/netcoreapp2.2
/src/aegis-wm-suite-fleet.contracts/obj/Debug/netcoreapp2.2
/src/aegis-wm-suite-fleet.contracts/obj
/src/aegis-wm-suite-fleet.model/bin/Debug/netcoreapp2.2
/src/aegis-wm-suite-fleet.model/obj/Debug/netcoreapp2.2
/src/aegis-wm-suite-fleet.model/obj
/src/aegis-wm-suite-fleet.repository/bin/Debug/netcoreapp2.2
/src/aegis-wm-suite-fleet.repository/obj/Debug/netcoreapp2.2
/src/aegis-wm-suite-fleet.repository/obj
/src/aegis-wm-suite-fleet.services/bin/Debug/netcoreapp2.2
/src/aegis-wm-suite-fleet.services/obj/Debug/netcoreapp2.2
/src/aegis-wm-suite-fleet.services/obj
/src/auth/dl-wm-suite-auth.api/bin/Debug/netcoreapp2.2
/src/auth/dl-wm-suite-auth.api/obj/Debug/netcoreapp2.2
/src/auth/dl-wm-suite-auth.api/obj
/src/cms/dl-wm-suite-cms.api/bin/Debug/netcoreapp2.2
/src/cms/dl-wm-suite-cms.api/obj/Debug/netcoreapp2.2
/src/cms/dl-wm-suite-cms.api/obj
/src/cms/dl-wm-suite-cms.contracts/bin/Debug/netcoreapp2.2
/src/cms/dl-wm-suite-cms.contracts/obj/Debug/netcoreapp2.2
/src/cms/dl-wm-suite-cms.contracts/obj
/src/cms/dl-wm-suite-cms.model/bin/Debug/netcoreapp2.2
/src/cms/dl-wm-suite-cms.model/obj
/src/cms/dl-wm-suite-cms.repository/bin/Debug/netcoreapp2.2
/src/cms/dl-wm-suite-cms.repository/obj/Debug/netcoreapp2.2
/src/cms/dl-wm-suite-cms.repository/obj
/src/cms/dl-wm-suite-cms.services/bin/Debug/netcoreapp2.2
/src/cms/dl-wm-suite-cms.services/obj/Debug/netcoreapp2.2
/src/cms/dl-wm-suite-cms.services/obj
/src/common/dl-wm-suite-common.dtos/bin/Debug/netcoreapp2.2
/src/common/dl-wm-suite-common.dtos/obj/Debug/netcoreapp2.2
/src/common/dl-wm-suite-common.dtos/obj
/src/common/dl-wm-suite-common.infrastructure/bin/Debug/netcoreapp2.2
/src/common/dl-wm-suite-common.infrastructure/obj/Debug/netcoreapp2.2
/src/common/dl-wm-suite-common.infrastructure/obj
/src/common/dl-wm-suite-common.messaging/bin/Debug/netcoreapp2.2
/src/common/dl-wm-suite-common.messaging/obj/Debug/netcoreapp2.2
/src/common/dl-wm-suite-common.messaging/obj
/src/dms/dl-wm-suite-dms.api/obj/Debug/netcoreapp2.2
/src/dms/dl-wm-suite-dms.api/obj
/src/dms/dl-wm-suite-dms.contracts/bin/Debug/netcoreapp2.2
/src/dms/dl-wm-suite-dms.contracts/obj/Debug/netcoreapp2.2
/src/dms/dl-wm-suite-dms.contracts/obj
/src/dms/dl-wm-suite-dms.model/bin/Debug/netcoreapp2.2
/src/dms/dl-wm-suite-dms.model/obj/Debug/netcoreapp2.2
/src/dms/dl-wm-suite-dms.model/obj
/src/dms/dl-wm-suite-dms.repository/bin/Debug/netcoreapp2.2
/src/dms/dl-wm-suite-dms.repository/obj/Debug/netcoreapp2.2
/src/dms/dl-wm-suite-dms.repository/obj
/src/dms/dl-wm-suite-dms.services/bin/Debug/netcoreapp2.2
/src/dms/dl-wm-suite-dms.services/obj/Debug/netcoreapp2.2
/src/dms/dl-wm-suite-dms.services/obj
/src/fleet/dl-wm-suite-fleet.api/bin/Debug/netcoreapp2.2
/src/fleet/dl-wm-suite-fleet.api/obj/Debug/netcoreapp2.2
/src/fleet/dl-wm-suite-fleet.api/obj
/src/fleet/dl-wm-suite-fleet.contracts/bin/Debug/netcoreapp2.2
/src/fleet/dl-wm-suite-fleet.contracts/obj/Debug/netcoreapp2.2
/src/fleet/dl-wm-suite-fleet.contracts/obj
/src/fleet/dl-wm-suite-fleet.model/bin/Debug/netcoreapp2.2
/src/fleet/dl-wm-suite-fleet.model/obj/Debug/netcoreapp2.2
/src/fleet/dl-wm-suite-fleet.model/obj
/src/fleet/dl-wm-suite-fleet.repository/bin/Debug/netcoreapp2.2
/src/fleet/dl-wm-suite-fleet.repository/obj/Debug/netcoreapp2.2
/src/fleet/dl-wm-suite-fleet.repository/obj
/src/fleet/dl-wm-suite-fleet.services/bin/Debug/netcoreapp2.2
/src/fleet/dl-wm-suite-fleet.services/obj/Debug/netcoreapp2.2
/src/fleet/dl-wm-suite-fleet.services/obj
/src/interprocess/dl-wm-suite-interprocess.api/bin/Debug/netcoreapp2.2
/src/interprocess/dl-wm-suite-interprocess.api/obj/Debug/netcoreapp2.2
/src/interprocess/dl-wm-suite-interprocess.api/obj
/src/telemetry/dl-wm-suite-telemetry.api/bin/Debug/netcoreapp2.2
/src/telemetry/dl-wm-suite-telemetry.api/obj
/src/dms/dms
/src/UI/Desktops/aegis-wm-suite/dl-wm-suite.ui/obj
/src/UI/Commons/dl-wm.models/bin/Debug/*.dll
/src/UI/Commons/dl-wm.models/bin/Debug/*.pdb
/src/UI/Commons/dl-wm.models/obj/Debug/*.cache
/src/UI/Commons/dl-wm.models/obj/Debug/*.txt
/src/UI/Commons/dl-wm.models/obj/Debug/*.dll
/src/UI/Commons/dl-wm.models/obj/Debug/*.pdb
/src/UI/Commons/dl-wm.presenter/bin/Debug/*.dll
/src/UI/Commons/dl-wm.presenter/bin/Debug/*.xml
/src/UI/Commons/dl-wm.presenter/bin/Debug/*.pdb
/src/UI/Commons/dl-wm.presenter/bin/Debug/*.config
/src/UI/Commons/dl-wm.presenter/obj/Debug/*.CopyComplete
/src/UI/Commons/dl-wm.presenter/obj/Debug/*.cache
/src/UI/Commons/dl-wm.presenter/obj/Debug/*.txt
/src/UI/Commons/dl-wm.presenter/obj/Debug/*.dll
/src/UI/Commons/dl-wm.presenter/obj/Debug/*.pdb
/src/UI/Commons/dl-wm.view/bin/Debug/*.dll
/src/UI/Commons/dl-wm.view/bin/Debug/*.pdb
/src/UI/Commons/dl-wm.view/bin/Debug/*.config
/src/UI/Commons/dl-wm.view/obj/Debug/*.CopyComplete
/src/UI/Commons/dl-wm.view/obj/Debug/*.cache
/src/UI/Commons/dl-wm.view/obj/Debug/*.txt
/src/UI/Commons/dl-wm.view/obj/Debug/*.dll
/src/UI/Commons/dl-wm.view/obj/Debug/*.pdb
/src/UI/Desktops/aegis-wm-suite/dl-wm-suite.ui/bin/Debug/*.dll
/src/UI/Desktops/aegis-wm-suite/dl-wm-suite.ui/bin/Debug/*.xml
/src/UI/Desktops/aegis-wm-suite/dl-wm-suite.ui/bin/Debug/*.pdb
/src/UI/Desktops/aegis-wm-suite/dl-wm-suite.ui/bin/Debug/de/*.dll
/src/UI/Desktops/aegis-wm-suite/dl-wm-suite.ui/bin/Debug/*.exe
/src/UI/Desktops/aegis-wm-suite/dl-wm-suite.ui/bin/Debug/*.config
/src/UI/Desktops/aegis-wm-suite/dl-wm-suite.ui/bin/Debug/es/*.dll
/src/UI/Desktops/aegis-wm-suite/dl-wm-suite.ui/bin/Debug/ja/*.dll
/src/UI/Desktops/aegis-wm-suite/dl-wm-suite.ui/bin/Debug/ru/*.dll
/src/UI/Commons/dl-wm.models/obj/Debug
/src/UI/Commons
/src/auth/dl-wm-suite-auth.api/Logs/dl-wm-suite-auth.api.xml
/src/auth/dl-wm-suite-auth.api/Logs/log-20191127-20191127.json
/src/auth/dl-wm-suite-auth.api/Logs/log-20191128-20191128.json
/src/auth/dl-wm-suite-auth.api/Logs/log-20191203-20191203.json
/src/auth/dl-wm-suite-auth.api/Logs/log-20191206-20191206.json
/src/auth/dl-wm-suite-auth.api/Logs/log-20200108-20200108.txt
/src/auth/dl-wm-suite-auth.api/Logs/log-20200114-20200114.txt
/src/auth/dl-wm-suite-auth.api/Logs/log-20200116-20200116.txt
/src/auth/dl-wm-suite-auth.api/Logs/log-20200120-20200120.txt
/src/auth/dl-wm-suite-auth.api/Logs/log-20200121-20200121.txt
/src/auth/dl-wm-suite-auth.api/Logs/log-20200127-20200127.txt
/src/auth/dl-wm-suite-auth.api/Logs/log-20200128-20200128.txt
/src/auth/dl-wm-suite-auth.api/Logs/log-20200129-20200129.txt
/src/auth/dl-wm-suite-auth.api/Logs/log-20200204-20200204.txt
/src/auth/dl-wm-suite-auth.api/Logs/log-20200205-20200205.txt
/src/auth/dl-wm-suite-auth.api/Logs/log-20200206-20200206.txt
/src/auth/dl-wm-suite-auth.api/Logs/dl-wm-suite-auth.api.json
/*.dockerignore
/src/telemetry/dl-wm-suite-telemetry.api/*.txt
